[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "external/pugixml"]
	path = external/pugixml
	url = https://github.com/zeux/pugixml.git
